.reviews {
  ul {
    padding: 0;
    list-style: none;
  }

  .review {
    min-height: 80px;
    display: flex;
    flex-flow: row wrap;
    gap: 0 10px;
    align-items: center;
    margin-bottom: 20px;

    .review-info > div {
      display: flex;
      align-items: center;
      gap: 10px;
      .created-at {
        font-size: 14px;
      }
    }

    p {
      width: 100%;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .review-paragraph {
      margin-bottom: 16px;
    }

    .badge {
      i {
        margin-right: 5px;
      }
    }
  }
}
