.person-details {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--padding);

  .person-name-mobile {
    display: none;
  }

  @media screen and (max-width: 768px) {
    flex-flow: column nowrap;

    .person-name {
      display: none;
    }
    .person-name-mobile {
      display: block;
      text-align: center;
    }
    h5 {
      font-size: 18px;
    }
  }

  .person-details-column {
    h2 {
      margin-bottom: 20px;
    }
    @media screen and (max-width: 768px) {
      img.profile {
        display: block;
        margin: 0 auto 10px auto;
      }
    }
  }

  .person-details-header {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
    align-items: flex-start;
    gap: 10px;
    max-height: 375px;
    overflow: hidden;
    text-overflow: ellipsis;

    h2 {
      margin-bottom: 30px;
    }
  }

  .profile-image {
    width: 250px;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .personal-info-header {
    margin-bottom: 10px;
  }

  .personal-info {
    margin-bottom: 20px;
  }

  .biography-container {
    > button {
      background: var(--bs-body-bg);
      padding: 0 5px;
      float: right;
    }
  }

  .biography-paragraph {
    margin-bottom: 20px;
  }

  .person-movies {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;

    a {
      display: flex;
      flex-flow: row nowrap;
      gap: 10px;
      align-items: center;
      padding: 10px;
      width: 100%;
      border-top: 1px solid var(--bs-body-color);

      &:last-child {
        border-bottom: 1px solid var(--bs-body-color);
      }

      .character,
      .job {
        font-weight: 300;
      }

      > :last-child {
        margin-left: auto;
      }
    }
  }
}
