.navbar {
  height: 56px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 0;
  gap: 10px;

  i.fa-film,
  i.fa-magnifying-glass {
    font-size: 1.5em;
  }
  i.fa-magnifying-glass {
    margin-left: 20px;
  }
}
